* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

.container{
    width:100%;
    height:100px;
    display:block;
    background-color: #1F2937;
}

.inner_container {
    max-width:1200px;
    height:100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin:0 auto;
    
}

.logo_container {
    height:100%;
    display:flex;
    cursor: pointer;
    padding-left: 10px;
}

.logo_container h1 {
    color:white;
    height:100%;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    flex-wrap: nowrap;
    font-size:24px;
    font-weight:200;
}

.logo_container h1 span {
    font-weight: 900;
    display:block;
}

.navigation {
    display:flex;
    justify-content: flex-end;
    height:100%;
}

.navigation li {
    height:100%;
    display:flex;
    justify-content: flex-end;
    padding:0 20px;
    padding-left: 40px;
}

.navigation li:last-child{
    padding-right: 10px;
}

.navigation li a {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    color:white;
    font-size:24px;
    transition:all 0.3s ease 0s;
}

.navigation li a:hover {
    color: #ffc400;
}

.container_text {
    max-width:100%;
    padding: 10px;
    padding-bottom: 200px;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
}

.inner_text {
    max-width:1200px;
    height:100%;
    display:flex;
    margin:0 auto;
    align-self:center;
    justify-content: center;
}

.intro_text h1 {
    display:flex;
    justify-content: center;
    align-items: center;
    width:70%;
    color:white;
    height:auto;
    font-size:48px;
    font-weight:900; 
    margin-top: 150px;
    flex:1 1 auto;
}

.intro_text h4 {
    color:white;
    width:85%;
    height:auto;
    font-size:22px;
    font-weight:200; 
    display:flex;
    align-items:center;
    justify-content: center;
    flex:1 1 auto;
}

.intro_text button {
    display:flex;
    width:130px;
    height:40px;
    justify-content: center;
    align-items:center;
    color:white;
    background-color: #3882F6;
    padding: 5px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    cursor:pointer;
    transition:0.3s ease 0s;
    border: none;
}

.intro_text button:hover {
    color: rgb(32, 31, 31);
    background-color: #ffc400;;
}

.image_container {
    width:90%;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}

.image_container img {
    height:auto;
    max-width:100%;
    height:auto;
    
}